<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registre-se</title>
</head>
<body>
	<form action="../ControlServlet" method="post">
		<div>
			<label for="login">Login:</label>
			<input id="login" name="login" type="text"/>
		</div>
		<div>
			<label for="senha">Senha:</label>
			<input id="password" name="password" type="password"/>
		</div>
		
		<input type="hidden" name="xclass" value="UserServlet" />
		<input type="hidden" name="action" value="add" /> 
		
		<input value="Registrar" type="submit" />
	</form>
</body>
</html>