@charset "UTF-8";

@import "reset.css";

@import "variables.css";

.layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	height: auto;
	margin: auto auto;
}

.form__title {
	font-size: 22px;
	font-weight: bold;
}

.form__a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.form__input-wrapper {
	display: flex;
	flex-direction: column;
	margin: 15px 0 15px 0;
}

.form__label {
	margin-bottom: 5px;
}

.form__input {
	border-radius: 3px;
	border-width: 1px;
}

.form__input:hover, .form__input:focus {
	border-width: 1px;
}

.form__submit-btn {
	padding: 8px;
	border-radius: 2px;
	border: none;
	color: var(--white);
	cursor: pointer;
	background: var(--blue);
	margin-bottom: 15px;
}

.form__submit-btn:hover {
	transition: .2s;
	background: var(--dark-blue);
}

.form__wrapper {
	width: 240px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: inital;
	flex-direction: column;
}

.header {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: var(--white);
	background: var(--blue);
	position: relative;
}

.footer {
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	margin-top: 20px;
	color: var(--white);
	background: var(--blue);
}

.placeVisited__wrapper,
.experience__wrapper {
	width: 100%;
	padding: 30px 0;
	overflow-x: hidden; display : flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
}

.placeVisited__image,
.experience__image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.placeVisited__image,
.experience__image {
	width: 100%;
}

.placeVisited__image img,
.experience__image img {
	max-width: 100%;
}

.error-page {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu {
	position: absolute;
	left: 30px;
	background: transparent;
	cursor: pointer;
	border: none;
	font-size: 30px;
}

.menu-container {
    position: fixed;
    top: 0;
    background: #fff;
    height: 100%;
    padding: 20px;
    width: 265px;
    box-shadow: 13px 10px 23px -11px rgba(0,0,0,0.75);
}

.menu-container__btn-close {
	position: absolute;
	right: 0;
	top: 0;
	background: transparent;
	cursor: pointer;
	border: none;
	font-size: 30px;
}

.d-none {
	display: none !important;
}

.menu-container__ul-submenu {
	text-decoration: none;
	color: var(--black);
	font-size: 16px;
	margin-bottom: 15px;
	display: block;
}

.menu-container__ul-submenu-item {
	text-decoration: none;
	color: var(--black);
	font-size: 14px;
	margin-left: 15px;
	margin-bottom: 10px;
	display: block;
}

.menu-container__ul-submenu-menu {
	margin-bottom: 15px;
}

.form__input-wrapper input[type="file"] {
	display: none;
}

.form__label-file-input {
	background: #f1f1f1;
	border: dashed 1px;
	font-size: 16px;
	color: #555753;
	text-align: center;
	padding: 20px;
	border-radius: 2px;
	cursor: pointer;
}

table {
	font-family: Arial, Helvetica, sans-serif;
  	border-collapse: collapse;
  	width: 100%;
  	margin-top: 50px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

h-90 {
	height: 90vh;
}

.logout-btn {
	text-decoration: none;
	color: var(--white);
	font-size: 18px;
	background: (--dark-blue);
	padding: 10px;
	border-radius: 2px;
	position: absolute;
	right: 20px;
}

.register-place-link {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 12px;
}

.placeVisited__main-content,
.experience__main-content {
	width: 100%;
	background: #f1f1f1;
	border: 1px dashed black;
	margin-top: -10px;
	margin-bottom: 15px;
}

.placeVisited__main-content p,
.experience__main-content p {
	font-size: 16px;
	padding: 10px 10px 10px 10px;
}

.experience__comments {
	width: 100%;
	margin-left: 10px;
}

.experience__comments h2:first-child {
	font-size: 16px;
	margin-bottom: 15px;
}

.comment__wrapper {
	margin-left: 20px;
}

.comment__author {
	font-style: italic;
	font-weight: bold;
}

.comment__main-content {
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment__main-content P {
	margin-bottom: 10px;
}

#commentRegisterForm textarea {
	border: solid 1px black;
	width: 300px;
	border-radius: 2px;
}

#commentRegisterForm {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}

#commentRegisterForm input[type="submit"] {
	margin-top: 10px;
	border-radius: 2px;
	background: var(--blue);
	color: var(--white);
	border:none;
}

#commentRegisterForm input[type="submit"]:hover {
	background: var(--dark-blue);
	transition: .2s;
}




